/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');


/* CSS Variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* Dark Brown */
    --secondary-color: #aa9581; /* Light Brown */
    --highlight-color: #416a8e; /* Blue */
    --highlight-color-light: #7a9fc2; /* Light Blue */
}


/* Global Styles */

body {
    font-family: var(--primary-font);
}

h1, h2, h3, h4 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.card {
    margin-bottom: 1.5rem;
}

.sharp-corners,
.sharp-corners * {              /* Using wildcard selector selects all elements with a parent that has the .sharp-corners class */
    border-radius: 0;
}

/* Reusable Margin Class */
.section {
    padding-top: 4rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar img {
    max-width: 30px;
}

/* Header */
header .lead {
    font-family: var(--secondary-font);
}

/* Header Carousel */
#carouselHeader {
    height: 100%;
    width: 100%;
}

#carouselHeader .carousel-inner,
#carouselHeader .carousel-item {
    height: 100%;
}

#carouselHeader img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    min-height: 300px; /* Ensures minimum height on smaller screens */
}

/* Services Section */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

/* Events Section */

#events .table-light * {
    background-color: transparent;
}

.table-hover > tbody > tr:hover {
    --bs-table-hover-bg: var(--highlight-color-light) !important;
}

#events span {
    background-color: var(--highlight-color);
    color: white;
    padding: 8px 12px;
}

/* Cafe */

#menu span {
    color: var(--highlight-color);
    font-weight: bold;
}

/* Game Library */

#fav-games .card,
#new-games .card {
    border: none;
}

#fav-games .list-group-item,
#new-games .list-group-item {
    border: none;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0;
    padding-bottom: 80px;
}

footer h2 {
    color: white;
}

footer .sub-heading-color {
    color: var(--highlight-color-light);
}

footer i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

footer .social-links i {
    color:var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

footer .social-links i:hover {
    color:var(--secondary-color);
}

footer .table-dark * {
    background-color: transparent;
}

/* Media Queries */
@media screen and (min-width: 768px) {

    .section .card-body {
        min-height: 194px;
    }

    #fav-games .card-body {
        min-height: 216px;
    }

    /* Testimonials Section */

    #testimonials .testimonial-text {
        min-height: 96px;
    }

    /* Make sure height is fixed, and any overflow is hidden */
    .testimonials-wrapper {
        height: 400px; /* Adjust height as needed */
        overflow: hidden;
    }

    .testimonials-row {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        overflow-x: hidden;
    }

    /* Cafe */

    #menu .card-text {
        min-height: 220px;
    }
}

@media screen and (min-width: 992px) {

    .section .card-body {
        min-height: auto;
    }

    #fav-games .card-body {
        min-height: auto;
    }

    #success img {
        width: 50%;
    }

    #testimonials .testimonial-text {
        min-height: 75px;
    }

    /* Cafe */

    #menu .card-text {
        min-height: auto;
    }

    
}

@media screen and (min-width: 1200px) {

    .section .card-body {
        min-height: 220px;
    }

    #fav-games .card-body {
        min-height: 241px;
    }

    #testimonials .testimonial-text {
        min-height: 96px;
    }
}

@media screen and (min-width: 1400px) {

    .section .card-body {
        min-height: 195px;
    }

    #fav-games .card-body {
        min-height: 218px;
    }

    #testimonials .testimonial-text {
        min-height: auto;
    }
}