/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');


/* CSS Variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* Dark Brown */
    --secondary-color: #aa9581; /* Light Brown */
    --highlight-color: #416a8e; /* Blue */
    --highlight-color-light: #7a9fc2; /* Light Blue */
}


/* Global Styles */

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

/* Reusable Margin Class */
.section {
    margin: 2rem auto;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar img {
    max-width: 30px;
}

/* Header */
header .lead {
    font-family: var(--secondary-font);
}

/* Header Carousel */
#carouselHeader {
    height: 100%;
    width: 100%;
}

#carouselHeader .carousel-inner,
#carouselHeader .carousel-item {
    height: 100%;
}

#carouselHeader img {
    object-fit: cover;
    height: 100%;
    min-height: 300px; /* Ensures minimum height on smaller screens */
}

/* Services Section */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}


/* Debugging */
/*
.container {
    border: 1px solid red;
}

.row {
    border: 1px solid blue;
}

.col-12 {
    border: 1px solid green;
}
*/